{% extends 'base.html' %}

{%  block content %}

<div class="container">

        <div class="col text-left login mx-auto mt-5">
            <form method="POST" class="bg-light">
                {{ form.csrf_token }}
                <div class="m-3">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                </div>
                <div class="m-3">
                    {{ form.date.label(class="form-label") }}
                    {{ form.date(class="form-control") }}
                </div>
                <div class="m-3">
                    {{ form.mileage.label(class="form-label") }}
                    {{ form.mileage(class="form-control")}}
                </div>
                <div class="m-3">
                    {{  form.submit(class="link") }}
                </div>
            </form>
        </div>


</div>

{% endblock %}