<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vehicle Maintenance Tracker{%  endblock %}</title>i
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container-flex">
        {%  include "navigation.html" %}
    </div>
    <div class="container-flex">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>