{% extends "base.html" %}


{% block title %} Login Page {%  endblock %}

{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col text-left">
            <form method="POST" class="bg-light">cxx
                <div class="m-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="text" class="form-control" id="emailInput" >
                </div>
                <div class="m-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="text" class="form-control" id="passwordInput" >
                </div>
                <div class="m-3">
                    <button type="submit">Log In</button>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>

{% endblock %}