{% extends "base.html" %}
{% block content %}

<div class="row m-5">
    <div class="col-lg-4 mx-auto">
        <h4>Log In</h4>
        <form method="post" novalidate>
            <ul class="list-unstyled">
                <li>{{ form.email.label }} {{ form.email }}</li>
                <li>{{ form.password.label }} {{ form.password }}</li>
                <li>{{ form.submit(class_="btn btn-light rounded btn-outline-dark") }}</li>
            </ul>
        </form>
    </div>
</div>
<div class="row m-5">
    <div class="col-lg-4 mx-auto">
        <a href="{{ url_for('register') }}" class="btn btn-light rounded btn-outline-dark">Register</a>
        <a href="{{ url_for('use_demo') }}" class="btn btn-light rounded btn-outline-dark">Use Demo Account</a>

    </div>
</div>

{% endblock %}