{% extends "base.html" %}


{% block title %} Login Page {%  endblock %}

{% block content %}

        <div class="col text-left login mx-auto">
            <form method="POST" class="bg-light">
                <div class="m-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="text" class="form-control" id="emailInput" name="email">
                </div>
                <div class="m-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="text" class="form-control" id="passwordInput" name="password">
                </div>
                <div class="m-3">
                    <button type="submit">Log In</button>
                </div>
            </form>
        </div>


{% endblock %}