
<div class="container-fluid text-center">
    <div class="row" >
        <button class="heading bg-secondary rounded-lg" action="none">
            {% if current_user.is_authenticated %}
                {{ current_user.name }}'s Vehicles
            {%  else %}
                Vehicle Maintenance Tracker
            {% endif %}
        </button>
    </div>
            <div class = "navbar" >
            {% if current_user.is_authenticated %}
                <button class="btn btn-secondary rounded-lg">
                    <a href="{{ url_for('home') }}" >Home</a>
                </button>
                <button class="btn btn-secondary rounded-lg">
                    <a href="{{ url_for('user_edit') }}" >Account</a>
                </button>
                <button class="btn btn-secondary rounded-lg">
                    <a href="{{  url_for('send_mail') }}" >Send Reminder Email</a>
                </button>
                <button class="btn btn-secondary rounded-lg">
                    <a href="{{ url_for('logout') }}">Log Out</a>
                </button>

            {% else %}
               <a href="{{ url_for('register') }}" class="btn btn-success">Register</a>
            {%  endif %}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes list-unstyled">
                {% for message in messages %}
                    <li class="text-danger"><h4>{{ message }}</h4></li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            </div>
    </div>
