<div class="container text-center">
            <h3>Vehicle Maintenance Tracker</h3>
            {% if current_user.is_authenticated %}
                <h2>{{ current_user.name }}</h2>
                <a href="{{ url_for('home') }}" class="btn btn-light rounded btn-outline-dark">Home</a>
                <a href="{{ url_for('user_edit') }}" class="btn btn-light rounded btn-outline-dark">Account</a>
                <a href="{{ url_for('logout') }}" class="btn btn-light rounded btn-outline-dark">Log Out</a>
            {%  endif %}
</div>