
<div class="container-fluid text-center">
    <div class="row heading" >
            Vehicle Maintenance Tracker
    </div>
            <div class = "navbar" >
            {% if current_user.is_authenticated %}
                <h2>{{ current_user.name }}</h2>
                <a href="{{ url_for('home') }}" class="btn btn-success">Home</a>
                <a href="{{ url_for('user_edit') }}" class="btn btn-success">Account</a>
                <a href="{{ url_for('logout') }}" class="btn btn-success">Log Out</a>
            {% else %}
               <a href="{{ url_for('register') }}" class="btn btn-success">Register</a>
            {%  endif %}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes list-unstyled">
                {% for message in messages %}
                    <li class="text-danger"><h4>{{ message }}</h4></li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            </div>
    </div>
