
{% extends 'base.html' %}

{%  block content %}

<div class="container">

        <div class="col text-left login mx-auto">
            <form method="POST" class="bg-light" novalidate>
                {{ form.csrf_token }}
                <div class="m-3">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                    {%  if form.name.errors %}
                        {{ form.name.errors }}
                    {% endif %}
                </div>
                <div class="m-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                    {%  if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                </div>
                <div class="m-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                    {%  if form.password.errors %}
                        {{ form.password.errors }}
                    {% endif %}
                </div>
                <div class="m-3">
                    {{ form.submit(class="link") }}
                </div>
                 <a href="{{ url_for('user_delete') }}" class="link">Delete Account</a>
            </form>

        </div>


</div>

{% endblock %}