
{% extends 'base.html' %}

{%  block content %}

<div class="container">
	<h4>Account</h4>
    <form method="post" novalidate>
            <ul class="list-unstyled">
                {{ form.csrf_token }}
                <li>{{ form.name.label }} {{ form.name }} {{ form.name.errors }}</li>
                <li>{{ form.email.label }} {{ form.email }} {{ form.email.errors }}</li>
                <li>{{ form.password.label }} {{ form.password }}{{  form.password.errors }}</li>
                <li>{{ form.submit(class_="btn btn-light rounded btn-outline-dark") }}</li>
            </ul>
        </form>
</div>

{% endblock %}