{% extends "base.html" %}
{% block content %}

<div>
	<h1>{{  vehicle.name }}</h1>
    <h3>{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h3>
    <a href="#" type="button" class="btn-primary">Edit Vehicle</a>
    <a href="{{ url_for('delete_vehicle', v_id=vehicle.id) }}" type="button" class="btn-danger">Delete Vehicle</a>

    <table class="table text-center">
        <tr>
            <th>Date</th>
            <th>Mileage</th>
            <th>Task</th>
        </tr>
        {%  for task in tasks %}
        <tr>
            <td>{{ task.date }}</td>
            <td>{{ task.mileage }}</td>
            <td>{{ task.name }}</td>
        </tr>
        {%  endfor %}
    </table>


    <a href="{{ url_for('add_task', v_id=vehicle.id) }}" class="btn btn-primary">Add Maintenance</a>

</div>

{% endblock %}