{% extends 'base.html' %}



{% block content %}

<div class="text-center bg-light m-5 ">

	<h1>{{  vehicle.name }}</h1>
    <h3>{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h3>
    <a href="{{ url_for('edit_vehicle', v_id=vehicle.id) }}" class="link">Edit Vehicle</a>
    <a href="{{ url_for('delete_vehicle', v_id=vehicle.id) }}" class="link">Delete Vehicle</a>

    <table class="table text-center table-striped table-bordered table-sm" >
        <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Mileage</th>
            <th class="text-center">Task</th>
        </tr>
        {%  for task in tasks %}
        <tr>
            <td>{{ task.date }}</td>
            <td>{{ task.mileage }}</td>
            <td>{{ task.name }}</td>
            <td>
                <a href="{{ url_for('edit_task', v_id=vehicle.id, t_id=task.id) }}">
                    <img src="{{url_for('static', filename='imgs/edit.png')}}"
                     class="icon_image">
                </a>
                <a href="{{ url_for('delete_task', v_id=vehicle.id, t_id=task.id) }}">
                    <img src="{{url_for('static', filename='imgs/trash.png')}}"
                     class="icon_image">
                </a>
            </td>
        </tr>
        {%  endfor %}
    </table>


    <a href="{{ url_for('add_task', v_id=vehicle.id) }}"
       class="link">Add Maintenance</a>

</div>

{% endblock %}